<table class="table table-striped">
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Venmo ID</td>
    <td>Picture</td>
    <td>Access Token</td>
    <td>Refresh Token</td>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.first_name %></td>
      <td><%= u.last_name %></td>
      <td><%= u.venmo_id %></td>
      <td><img src="<%= u.picture_url %>" /></td>
      <td><%= u.access_token %></td>
      <td><%= u.refresh_token %></td>
    </tr>
  <% end %>
</table>

<table class="table table-striped">
  <tr>
    <td>Name</td>
    <td>Members</td>
  </tr>
  <% @groups.each do |g| %>
    <tr>
      <td><%= g.name %></td>
      <td><%= g.members %></td>
    </tr>
  <% end %>
</table>