<% members = JSON.parse group.members %>
<tr>
  <td>
    <div style="max-width: 400px; float: left;">
      <div>
        <span class="glist-group-name"><%= group.name %> </span>(<%= num_members(members) %>)
      </div>
      <div>
        <% members.each do |m| %>
          <% user = id_to_user(m, @friends) %>
          <img src="<%= user['profile_picture_url'] %>" class="img-circle prof-pic" style="height:48px; width:48px; margin-bottom: 5px;" data-toggle="tooltip" data-palement="top" title="<%= user['display_name'] %>" />
        <% end %>
      </div>
    </div>
    <div style="float: right; padding-top: 20px">
      <button data-groupid="<%= group.id %>" data-groupname="<%= group.name %>" class="charge-btn btn btn-success" style="margin-right: 10px" data-toggle="modal" data-target="#charge-modal">Charge All</button>
      <button data-groupid="<%= group.id %>" data-groupname="<%= group.name %>" class="pay-btn btn btn-primary"  data-toggle="modal" data-target="#pay-modal">Pay All</button>
    </div>
    <div style="clear:both;"></div>
  </td>
</tr>