<div class="container" style="margin-top: 10px;">
  <div id="sidebar">
    REPLACE ME
  </div>
  <div id="mainbar">
    <div id="main-content">
      SHOULD BE REPLACED
    </div>
  </div>
</div> 

<script type="text/javascript">
  $(function() {
    var user = new VenmoGroups.Models.User(<%= @user.to_json.html_safe -%>)
    var groups = new VenmoGroups.Collections.GroupsCollection(<%= @groups.to_json.html_safe -%>);
    var friends_arr = <%= @friends.to_json.html_safe -%>;
    var friends = toObject(friends_arr);
    var transactions = new VenmoGroups.Collections.TransactionsCollection(<%= @transactions.to_json.html_safe -%>);

    window.router = new VenmoGroups.Routers.AppRouter({
      user: user,
      groups: groups,
      friends: friends,
      friends_arr: friends_arr,
      transactions: transactions
    });
    if (!Backbone.History.started) Backbone.history.start({ root: '/user/ <%= @user_id %>' });

    function toObject(arr) {
      var obj = {};
      for (var i = 0; i < arr.length; i++) {
        var id = arr[i].id;
        obj[id] = arr[i];
      }
      return obj;
    }
  });
</script>