<h1><%= group ? 'Edit' : 'New' %> Group</h1>
<br />
<form id="edit-group" name="group" role="form">
  <div class="form-group">
      <input class="form-control" type="text" name="name" value="<%= group ? group.get('name') : '' %>" placeholder="Group Name" >
  </div>

  <div class="form-group">
    <input class="form-control" id="members-input" type="text" name="members" value="<%= group ? group.get('members') : '' %>" placeholder="Members" >
  </div>

  <div class="form-group">
    <a href="#/groups" class="btn btn-default">Back</a>
    <button type="submit" class="btn btn-success"><%= group ? 'Update' : 'Create' %></button>
  </div>
  <% if(group) { %>
    <input type="hidden" name="id" value="<%= group.id %>" />
    <button data-group-id="<%= group.id %>" class="btn btn-danger delete">Delete</button>
  <% }; %>

</form>