<div>
  <div style="height: 10px; width: 100%; background-color: #5bc0de"></div>
  <table style="table-layout: fixed; width: 100%; color: grey;" cellpadding="5px">
    <tr>
      <td style="width: 90%; word-break: break-word">
        <a data-toggle="collapse" data-parent="#groups-accordion" href="#group<%= group.id %>" class="toggle-group-info disable-hover-underline">
          <div style="padding: 5px">
            <div style="font-size: 24px; color: #3C95D2;">
              <%= group.name %>
            </div>
            <div >
              <%= group.num_members_text %>
            </div>
          </div>
        </a>
      </td>
      <td style="text-align: right">
        <a href="#/groups/edit/<%= group.id %>">
          <img width="40px" src="/images/cog.png" />
        </a>
      </td>
    </tr>
  </table>
</div>

<div id="group<%= group.id %>" class="panel-collapse collapse">
  <hr />
  <div>
    <table style="width: 100%">
    <% var newRow = true %>
    <% for(var i = 0; i < group.members.length; i++) { %>
      <%= newRow ? '<tr>' : '' %>
        <td style="width: 50%; padding: 4px;">
          <img src="<%= friends[group.members[i]].profile_picture_url %>" class="img-circle" style="max-width: 50px" alt="<%=friends[group.members[i]].display_name %>" />
          <%= friends[group.members[i]].display_name %>
        </td>
      <%= newRow ? '' : '</tr>' %>
      <% newRow = !newRow %>
    <% } %>
    </table>
    <div style="background-color: #5bc0de; border: 1px solid #919191; color: white">
      <a href="#/groups/charge/<%= group.id %>" style="color: white">
        <div style="display:inline-block; width: 49%; border-right: 1px solid #919191; text-align: center; padding: 5px">
          Request
        </div>
      </a>
      <a href="#/groups/pay/<%= group.id %>"  style="color: white">
        <div style="display:inline-block; width: 49%; text-align: center; padding: 5px">
          Pay
        </div>
      </a>
    </div>
  </div>
</div>