<a data-toggle="collapse" data-parent="#transactions-accordion" href="#transaction<%= transaction.id %>" class="toggle-transaction-info disable-hover-underline">
  <div class="row" style="display: flex; align-items: center;">
    <div class="col-xs-3" style="padding-left: 15px;">
      <%= date %>
    </div>
    <div class="col-xs-3" style="">
      <% for (var i = 0; i < members.length; i++) { %>
        <%= friends[members[i]].first_name %><%= i != members.length-1 ? ', ' : '' %>
      <% } %>
    </div>
    <div class="col-xs-2">
      <%= members.length %>
        <img src='/images/nav-people.svg' style="vertical-align: middle">
    </div>
    <div class="col-xs-2">
      <% if(transaction.action == 'pay') { %>
        <span class="pay-text bold">
          -$<%= transaction.amount %>
        </span>
      <% } else { %>
        <span class="charge-text bold">
          +$<%= transaction.amount %>
        </span>
      <% } %>
    </div>
    <div class="col-md-1 col-xs-1">
      <span style="font-size: 20px;" class="chevron glyphicon glyphicon-chevron-down"/>
    </div>
  </div>
</a>

<div id="transaction<%= transaction.id %>" class="panel-collapse collapse">
  <hr />
  <table style="width: 100%">
    <tr>
      <td style="width: 50%;">
        <div style="padding: 5px; border-right: 1px solid #e5e5e5;">
          <% for(var i = 0; i < members.length; i++) { %>
            <img src="<%= friends[members[i]].profile_picture_url %>" class="img-circle" style="max-width: 50px" alt="<%=friends[members[i]].display_name %>" />
          <% } %>
        </div>
      </td>
      <td>
        <div style="padding: 5px; word-break: break-word">
          <%= transaction.note %>
        </div>
      </td>
    </tr>    
  </table>
</div>