<div id="logo-container">
  <img class="logo" src="/images/boost_logo2.png" />
</div>
<br />
<div style="border-right: 3px solid #e5e5e5">
  <div id="user-info-box">
    <table>
      <tr>
        <td>
          <a href="/users/<%= user.id %>">
            <img src="<%= user.user.profile_picture_url %>" />
          </a>
        </td>
        <td style="padding-left: 10px">
          <%= user.user.display_name %>
          <br />
          <a href="/sign_out">Sign Out</a>
        </td>
      </tr>
    </table>
  </div>
  <div id="navigation">
    <div class="link">
      <a href="#/"  class="<%= active == 'index' ? 'active' : '' %>">Home</a>
    </div>
    <div class="link">
      <a href="#/groups/" class="<%= active == 'group' ? 'active' : '' %>">Groups</a>
    </div>
    <div class="link">
      <a href="#/transactions/new/" class="<%= active == 'transaction' ? 'active' : '' %>">Pay or Charge</a>
    </div>
  </div>
</div>