<!DOCTYPE html>
<html>
<head>
  <title>VenmoGroups</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div id="header"></div>

<%= yield %>

<%= yield :customjs %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%= debug(params) if Rails.env.development? %>
</body>
</html>
